.footnotes {
  margin-top: 50px;
  font-size: 0.9em;

  hr {
    border-style: solid;
    color: rgb(221, 221, 221);
  }
}

.footnote-ref {
  display: inline;
  position: relative;
  margin-left: 3px;
  font-weight: bold;

  &::after {
    content: "]";
  }
  &::before {
    content: "[";
  }

  &:hover .fn-content {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
  }
}

.fn-content {
  position: absolute;
  display: inline-block;
  z-index: 14;
  left: 50%;
  bottom: 100%;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background: #f6f6f6;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -10px, 0);
  transition: opacity 0.3s, transform 0.3s;
  .fn-text {
    display: inline-block;
    padding: 1em;
    font-size: 1.2em;
    z-index: 8;
    a {
      font-weight: bold;
    }
  }
}
