.post-header {
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px LightGrey solid;

  .post-title {
    margin: unset;
    font-size: 2em;
    font-weight: 700;
    font-family: $global-serif-font-family;

    .post-pinned svg {
      vertical-align: middle;
      width: 24px;
      height: 24px;
      fill: $theme-color;
    }
  }

  .post-link {
    @include underline-from-center;
  }

  .post-meta {
    margin-top: 1em;
		margin-left: 0em;
    display: flex;
    align-items: center;
    flex-flow: wrap;

    .post-meta-author {
      a {
        color: $theme-color;
      }
    }

    .post-meta-time {
      margin-left: 0em;
    }

    .post-meta-lastmod {
      margin-left: 0.5em;
      font-size: 0.8em;
      font-style: italic;
    }

		.post-meta-middle {
			margin: 0 auto;
      font-size: 0.8em;
      font-style: italic;
		}
    
    .post-meta-category {
      display: inline;

      a {
        &::before {
          content: "·";
        }
      }
    }

    a {
      color: inherit;

      &:hover {
        color: $theme-color;
      }
    }
  }
}
