{{ define "content" -}}
<article class="post bg-white">
  <!-- post-header -->
  <header class="post-header">
    <h1 class="page-title">
      {{ if .Params.weight }}
        <span class="post-pinned">
          {{ partial "svg/pinned.svg" }}
        </span>
      {{ end }}
      <a class="page-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h1>
    {{ partial "post/meta.html" . }}
  </header>

  <!-- TOC -->
  {{ if .Params.toc }}
    <aside>
        {{ .TableOfContents }}
    </aside>
  {{ end }}

  <!-- Content -->
  <div class="post-content">
      {{ .Content }}
  </div>

</article>

{{- end }}
