// ==============================
// Iconfont
// ==============================

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}


/* Generic Icon */
.icon-heart::before {
  font-icon: url('../fonts/svg/heart.svg');
}

.icon-right::before {
  font-icon: url('../fonts/svg/right.svg');
}

.icon-left::before {
  font-icon: url('../fonts/svg/left.svg');
}

.icon-up::before {
  font-icon: url('../fonts/svg/up.svg');
  font-size: 2em;
}

.icon-new-window::before {
  font-icon: url('../fonts/svg/new-window.svg');
}

.icon-rss::before {
  font-icon: url('../fonts/svg/rss.svg');
}

.icon-email::before {
  font-icon: url('../fonts/svg/email.svg');
  font-size: 0.8em;
}

.icon-mastodon::before {
  font-icon: url('../fonts/svg/mastodon.svg');
}
