<article class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ if .Params.weight }}
        <span class="post-pinned">
          {{ partial "svg/pinned.svg" }}
        </span>
      {{ end }}
      <a class="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h1>
    {{ partial "post/meta.html" . }}
  </header>
  <!-- Content -->
  <div class="post-content">
    {{ if .Site.Params.homeFullContent }}
      <div class="post-summary">
        {{ .Content }}
      </div>
    {{ else }}
      <div class="post-summary">
        <center><img src="{{ with .Params.image }}{{ . }} {{ end }}" /></center>
        {{ .Summary }}
      </div>
      <div class="read-more">
        <a href="{{ .RelPermalink }}" class="read-more-link"
          >{{ "weiterlesen" }}</a
        >
      </div>
    {{ end }}
  </div>
</article>
