// ==============================
// Post footer
// =============================

.footer {
  margin-top: $footer-margin-top;

  .icon-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1em;

    .iconfont {
      font-size: $social-icon-font-size;

      & + .iconfont {
        margin-left: $social-link-margin-left;
      }

      &:hover {
       color: $theme-color;

        svg {
          fill: $theme-color;
        }
      }
    }
  }
}

.copyright {
  margin: $copyright-margin;
  color: $dark-gray;
  text-align: center;
  font-family: $global-serif-font-family;

  .hexo-link,
  .theme-link {
    color: $theme-color;
  }

  .copyright-year {
    display: block;

    .heart {
      font-size: 14px;
    }
  }
}

.copyright {
  margin: $copyright-margin;
  color: $dark-gray;
  text-align: center;
  font-family: $global-serif-font-family;

  .hexo-link,
  .theme-link {
    color: $theme-color;
  }

  .copyright-year {
    display: block;

    .heart {
      font-size: 14px;
    }
  }
}
