// ==============================
// Post
// ==============================

.content-wrapper {
  display: flex;
  justify-content: center;

  @import "_toc";
}

.landing {
  // optimal line length for body text is 50–60 characters per line
  // [Readability: The Optimal Line Length – Articles – Baymard Institute](https://baymard.com/blog/line-length-readability)
  width: 38em;
  max-width: 38em;
  padding: 3em 5em;
  margin: 0 auto;
  margin-bottom: 3em;
  background-color: #fff;
  border: 2px solid #9932CC; // Hinzugefügt: 1px Rahmen

  @import "_post/header";
  @import "_post/toc";
  @import "_content";
  @import "_post/copyright";
  @import "_post/footer";
  @import "_post/footnote";
  @import "_shortcodes/notice";
  @import "_shortcodes/tabs";
}

@include max-screen() {
  .content-wrapper {
    display: block;
  }

  .post {
    width: auto;
    padding: 5%;
    margin: 0 auto 5% auto;
  }
}
