// ==============================
// Pagination
// ==============================

.pagination {
  text-align: center;
  @include clearfix;

  ul {
    margin: unset;
    line-height: 0;
  }

  li {
    display: inline-block;

    a {
      background-color: #fff;
      margin-left: .1em;
      margin-right: .1em;
      border: 1px solid #222;
      color: #222;
      float: left;
      line-height: 1.42857143;
      padding: 6px 12px;
      position: relative;
      text-decoration: none;
      margin-bottom: 0.2em;
    }
  }

  .active {
    a {
      background-color: #222;
      border-color: #222;
      color: #fff;
      cursor: default;
      z-index: 2;
    }
  }

  .prev,
  .next {
    font-weight: 600;
    font-size: $pagination-font-size;
    font-family: $global-serif-font-family;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
  }

  .prev {
    float: left;

    &:hover {
      color: $theme-color;
      transform: translateX(-4px);
    }
  }

  .next {
    float: right;

    &:hover {
      color: $theme-color;
      transform: translateX(4px);
    }
  }
}
