<div class="post-meta">
	<div class="post-meta-time">
    <time datetime="{{ .Date.Format "2006-01-02" }}">
      {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
    </time>
	</div>

  {{ if ne (.Lastmod.Format ("2006-01-02")) (.Date.Format ("2006-01-02")) }}
    <div class="post-meta-lastmod">
      ({{ "letzte Änderung" }}:
      {{ .Lastmod | time.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }})
    </div>
  {{ end }}

	<div class="post-meta-middle">
		Wörter: {{ .WordCount }} |
		Lesezeit: {{ .ReadingTime }} Minute{{if (ne .ReadingTime 1) }}n{{ end }}
  </div>

  {{ with .Params.categories -}}
    <div class="post-meta-category">
      {{ range . }}
        {{- $name := . -}}
        {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
          <a href="{{ .Permalink }}"> {{ $name }} </a>
        {{ end -}}
      {{ end }}
    </div>
  {{- end }}
</div>
