{{- $TOCEnabled := or .Params.toc (and .Site.Params.toc (ne .Params.toc false)) -}}
{{- $hasTOC := gt (len .TableOfContents) 32 -}}

{{ if and $TOCEnabled $hasTOC -}}
  <nav class="toc" id="toc">
    <div class="toc-title">{{ "Inhaltsverzeichnis" }}</div>
    <div class="toc-content custom-scrollbar">
      {{ .TableOfContents }}
    </div>
  </nav>
{{- end }}
