<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "de" }}" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {{- block "title" . -}}
    {{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
    {{- end -}}
  </title>  
  {{ partial "head.html" . }}
</head>

<body>
  <div id="back-to-top"></div>

  {{ partial "slideout.html" . }}

  <header id="header" class="header">
    {{ partial "header.html" . }}
  </header>

  <div id="mobile-panel">
    <main id="main" class="main bg-llight wallpaper">
      {{ block "content" . }}{{ end }}
    </main>

    <footer id="footer" class="footer">
      {{ partial "footer.html" . }}
    </footer>

    <div class="button__back-to-top">
      <a href="#back-to-top">
        <i class="iconfont">
          {{/* icon up */}}
          {{ partial "svg/up.svg" }}
        </i>
      </a>
    </div>
  </div>
  {{ partial "scripts.html" . }}
</body>
</html>
