{{ define "content" -}}
<div class="content-wrapper">
  <div id="content" class="content">
    <article class="post">
      <!-- post-header -->
      <header class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
        {{ partial "post/meta.html" . }}
      </header>

      <!-- Content -->
      <div class="post-content">
        <center><img src="{{ with .Params.image }}{{ . }} {{ end }}" /></center>
        {{ .Content }}
      </div>

      <footer class="post-footer">
        {{ with .Params.tags -}}
          <div class="post-tags">
            {{ range . }}
              {{- $name := . -}}
                {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
              <a href="{{ .Permalink }}">{{ $name }}</a>
              {{ end -}}
            {{ end }}
          </div>
        {{- end }}

        <!-- Post Pagination -->
        <nav class="post-nav">
          {{ with .NextInSection }}
            <a class="prev" href="{{ .RelPermalink }}">
              {{/* icon left */}}
              <i class="iconfont">
                {{ partial "svg/left.svg" }}
              </i>
              <span class="prev-text nav-default">{{ .Title }}</span>
              <span class="prev-text nav-mobile">{{ i18n "prev_post" }}</span>
            </a>
          {{- end }}
          {{ with .PrevInSection }}
            <a class="next" href="{{ .RelPermalink }}">
              <span class="next-text nav-default">{{ .Title }}</span>
              <span class="prev-text nav-mobile">{{ i18n "next_post" }}</span>
              {{/* icon right */}}
              <i class="iconfont">
                {{ partial "svg/right.svg" }}
              </i>
            </a>
          {{- end }}
        </nav>
      </footer>
    </article>
  </div>

    <!-- TOC -->
    {{ partial "post/toc.html" . }}

  </div>
{{- end }}
