<div class="icon-links">
  {{ partial "social_links.html" . }} 
</div>

<div class="copyright">
  <span class="power-by">
    Powered by <a class="hexo-link" href="https://gohugo.io">Hugo</a>
  </span>
  <span class="division">|</span>
  <span class="theme-info">
    Theme - <a class="theme-link" href="https://codeberg.org/minetest4kids/jone">Jone</a>
  </span>

  <span class="copyright-year">
    {{- $current := now.Format "2006" }}
    &copy;
    {{ if ne .Site.Params.since $current }}
      {{ .Site.Params.since }} -
    {{ end }}
    {{- $current }}
    <span class="heart">
      {{/* icon heart */}}
      <i class="iconfont">
        {{ partial "svg/heart.svg" }}
      </i>
    </span>
    {{- if or .Site.Copyright .Site.Author.name -}}
      <span class="author">
        {{if .Site.Copyright }}{{ .Site.Copyright | safeHTML }}
        {{ else }}{{ .Site.Author.name | safeHTML }}
        {{ end }}
      </span>
    {{- end -}}
  </span>

  <span class="impressum">
    <a class="impressum-link" href="/page/impressum">Impressum/Datenschutz</a>
  </span>

  {{ if .Site.Params.customFooter }}
    <span>
      {{ .Site.Params.customFooter | safeHTML }}
    </span>
  {{ end }}
</div>
