<!-- js -->
<script type="text/javascript" src="{{ "lib/jquery/jquery-3.7.1.min.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "lib/slideout/slideout-1.0.1.min.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "lib/lightbox/lightbox-plus-jquery.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "lib/search/search.js" | relURL }}"></script>

<!-- Jane theme main js -->
{{ $jsMain := resources.Get "js/main.js" | js.Build }}
{{ $secureJS := $jsMain | resources.ExecuteAsTemplate "js/main.js" . | fingerprint }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}" crossorigin="anonymous"></script>
<!-- End -->

<!-- custom js -->
{{ range .Site.Params.customJS }}
  <script src="{{ "/js/" | relURL }}{{ . }}"></script>
{{ end }}
