{{ define "title" }}404 page not found - {{ .Site.Title }}{{ end }}

{{ define "content" }}
<div class="not-found">
  <h1 class="error-emoji"></h1>
  <p class="error-text">/* 404 page not found. */</p>
	<center><h2>Suche</h2>
		{{ partial "search" }}
	</center>
	<p class="error-link"><a href="{{ "/" | relLangURL }}">↑ Back Home ↑</a></p>

{{ end }}
