{{ define "content" }}
<section id="posts" class="posts">
  {{ $pages := .Pages }}
  {{ if .IsHome }}
    {{ $pages = where .Site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ end }}
  {{ $paginator := .Paginate $pages }}
  {{ range $paginator.Pages }}
    {{ .Render "summary" }}
  {{ end }}
  {{ $pages := .Pages }}
  <a class="menu-item-link menu-parent" href="/post/"><h1><center>Archiv</h1></center></a>
</section>

<!-- pagination -->
{{ partial "pagination.html" . }}

<center>
	<img src="logo_full.png"/>
</center>

{{ end }}
