// ==============================
// Post code
// ==============================

// normal <code> style
code {
  padding: 3px 7px;
  background: #000000;
  border-radius: 4px;
  color: #ffffff;
}

code, pre {
  overflow-x: auto;
  font-size: $code-font-size;
  font-family: $code-font-family;
}

// chroma code block style


// @import '_chroma_highlight';
