{{ if .Get "caption" }}
  {{ $.Scratch.Set "caption" (.Get "caption") }}
{{ else if .Get "alt" }}
  {{ $.Scratch.Set "caption" (.Get "alt") }}
{{ end }}

<!-- resolve image path relative to the current page directory -->
{{ $pageDir := path.Dir $.Page.File.Path }}
{{ $image := .Get "src" }}
{{ $imagePath := path.Join $pageDir $image }}

<figure
  {{ with .Get "class" }}class="{{.}}"{{ end }}
  {{ with .Get "width" }}style="width: {{ . }};"{{ end }}
  {{ with .Get "height" }}style="height: {{ . }};"{{ end }}
  >
    <a
      href="{{ $imagePath | absURL }}"
      data-lightbox="gallery"  
    >
      <img
        src="{{ $imagePath | absURL }}"
        {{ with .Get "alt" }}alt="{{ .Get "alt" | markdownify | plainify }}"{{ end }}
        {{ with .Get "align" }}align="{{ . }}"{{ end }}
      />
    </a>

    <!-- Navigation arrows -->
    <div class="lightbox-navigation">
      <span class="prev">&#10094;</span>
      <span class="next">&#10095;</span>
    </div>

  <!-- caption and attr-->
  {{ if ($.Scratch.Get "caption") }}
    <figcaption>
      <span class="img--caption">
        Figure {{ $.Page.Scratch.Get "fig" }}. {{ $.Scratch.Get "caption" | markdownify | plainify }}
        {{ if .Get "attr" }}
          [{{- with .Get "attrlink"}}<a href="{{ . }}">{{ end }}{{ .Get "attr" | markdownify }}{{ if .Get "attrlink"}}</a>{{ end -}}]
        {{ end }}
      </span>
    </figcaption>
  {{ end }}
</figure>

{{ .Page.Scratch.Add "fig" 1 }}
{{ $.Scratch.Delete "caption" }}
